html {
  scroll-behavior: smooth;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: rgb(250, 249, 249);
}

header {
  position: relative;
  left: 5%;
  right: 5%;
  top: 40px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  height: 50px;
  margin-bottom: 50px;
  width: 80%;
  max-width: 1000px;
}

.pages:link, .pages:visited {
  background-color: rgb(167, 167, 167);
  color: rgb(247, 247, 247);
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10%;
  box-shadow: 0 0 5px rgba(184, 184, 184, 0.509);
}

.pages:hover, .pages:active {
  background-color: lightblue;
  transition: background-color 0.5s ease;
}


.current {
  height: 20px;
  background-color: rgb(167, 167, 167);
  color: rgb(245, 245, 245);
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10%;
  box-shadow: 0 0 5px rgba(167, 167, 167, 0.5);
}

.current:hover, .current:active {
  cursor: pointer;
  background-color: lightsteelblue;
  transition: background-color 0.5s ease;
}

#current {
  height: 20px;
  background-color: rgb(167, 167, 167);
  color: rgb(245, 245, 245);
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10%;
  box-shadow: 0 0 5px rgba(167, 167, 167, 0.5);
}

#current:hover, #current:active {
  cursor: pointer;
  background-color: lightsteelblue;
  transition: background-color 0.5s ease;
}

#gitlink:link, #linkedinlink:link, #repo:link, #demo:link, #resumelink:link {
  color: blue;
}

#gitlink:visited, #linkedinlink:visited, #repo:visited, #demo:visited, #resumelink:visited {
  color: purple;
}

h1, h2, h3, h5, h6 {
  font-family: Georgia, Times, serif;
  margin-left: 15%;
  margin-top: 80px;
}

h3 {
  text-decoration: underline;
  margin-top: 20px;
}

h4 {
  font-family: Georgia, 'Times New Roman', Times, serif;
} 

p, div {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.aboutMe{
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 100px;
  font-size: large;
  line-height: 200%;
  text-indent: 10%;
}

.aboutMe2 {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: -10px;
  font-size: large;
  line-height: 200%;
  text-indent: 10%;
}

.projectParagraph {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 1px;
  font-size: large;
  line-height: 200%;
  text-indent: 10%;
}

#about {
  font-size: x-large;
  line-height: 200%;
  position: relative;
  right: 70px;
  top: 110px;
  text-decoration: underline;
}

body {
  background: url(/img/greek-vase.png);
}

.box {
  background-color: rgb(254, 254, 253);
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0 0 1em 1em rgb(215, 215, 215);
  margin-top: 70px; 

  display: flex;
  justify-content: center;
  flex-direction: column;

  margin: 10 auto;
  margin-bottom: 100px;

  min-width: 300px;
  max-width: 1000px;
}

#myChangePhoto {
  border-width: 1px;
  max-width: 100%;
  height: auto;
}

#stalkstarimg {
  border-width: 1px;
  max-width: 80%;
  max-height: 40%;
  margin-bottom: 5%;
}

#me {
  position: absolute;
  top: 35px;
  left: 45px; 
  border-radius: 100%;
  height: 80px;
  width: 80px;
  margin-bottom: 50px;
}

h1 {
text-shadow: 1px 1px 1px #ccc;
width: 50vw;
}

#languages {
  display: flex;
  flex-direction: column;
}

#langPics, #langPics2 {
  display: flex;
  justify-content: space-between;
}

#langNames, #langNames2 {
  display: flex;
  justify-content: space-around;

}

#howdy {
  position: absolute;
  top: 60px;
  left: 150px; 
  font-size: large;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #262626;
  overflow: hidden;   
  border-right: .10em solid #FF8D8D;
  white-space: nowrap;   
  margin: 0 auto;   
  letter-spacing: .1rem;   
  animation: demo-typewriter 2s steps(20, end), demo-cursor 1s step-end infinite;
  quotes: "“" "”" "‘" "’";
  text-decoration: none;
}

#howdy::before {
  content: open-quote;
  font-size: x-large;
  color:rgba(230, 15, 15, 0.5);
}
#howdy::after {
  content: close-quote;
  font-size: x-large;
  color:rgba(230, 15, 15, 0.5)
}

@keyframes demo-typewriter {
  from { 
    width: 0;
  }
  to { 
    width: 40%;
  }
}

@keyframes demo-cursor {
  from, to { 
    border-color: transparent; 
}
  50% { 
border-color: #FF8D8D; 
  }
}


#git, #linkedin {
  width: 170px;
  height: 100px;
  padding: 15px;
  position: relative;
  
}

#linkedinlink, #gitlink, #resumelink{
  padding: 10px;
  overflow-wrap: break-word;
}


#motorcycle{
  max-width: 40%;
  height: auto;
  box-shadow: 0 0 1em 1em rgb(230, 230, 230);
}

#motorcycle{
  max-width: 75%;
  height: auto;
  box-shadow: 0 0 1em 1em rgb(230, 230, 230);
}

.lang {
  max-width: 15%;
  height: auto;
}

#mePics {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#html {
  filter: drop-shadow(10px 10px 10px #ff837a);
}

#css {
  filter: drop-shadow(10px 10px 10px #A4BBFF);
}

#javascript {
  filter: drop-shadow(10px 10px 10px #e6e39aa1);
} 

#python {
  filter: drop-shadow(10px 10px 10px #f0e09f93);
}

#flask {
  filter: drop-shadow(10px 10px 10px #01081a66);
}

#postgresql{
  filter: drop-shadow(10px 10px 10px #01081a66);
}

#sqlalchemy {
  filter: drop-shadow(10px 10px 10px #01081a66);
}

#aboutbox {
  position: relative;
  top: 70px;
  overflow-wrap: break-word;
}

#Email {
  font-size: large;
}

#greeting {
  display: flex;
  justify-content: left;
}

#projects {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectNames {
  margin-right: 15%;
}

.technologies {
  margin-right: 15%;
}